/* line 20, ../../sass/App.scss */
body {
  padding: 0;
  margin: 0;
  background-color: #ccd2db;
  color: #8eb2b8;
  font-family: "Mido";
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
/* line 30, ../../sass/App.scss */
body a {
  cursor: pointer;
}
/* line 33, ../../sass/App.scss */
body div#main {
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
}
/* line 39, ../../sass/App.scss */
body div#main div#core {
  display: flex;
  height: 100vh;
}
/* line 43, ../../sass/App.scss */
body div#main div#core div#settWrapper {
  display: flexbox;
  width: 30%;
  color: #f1a663;
  background-color: #c25725;
  overflow: hidden;
  text-align: left;
  box-shadow: inset 5px -0.5px 5px 0px rgba(0, 0, 0, 0.6);
  display: none;
}
/* line 54, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls {
  display: flex;
  width: 100%;
  height: 10%;
  width: 100%;
  border-bottom: 5px dotted #ce723f;
}
/* line 60, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
/* line 65, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls span button {
  cursor: pointer;
  border: none;
  padding: 6px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0px;
  background-color: #f1a663;
  color: #c25725;
}
/* line 78, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls span.title {
  width: 60%;
}
/* line 81, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls span.buttons {
  width: 30%;
}
/* line 89, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row {
  display: flex;
  padding: 6px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
/* line 95, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row label {
  display: block;
  margin-bottom: 20px;
}
/* line 99, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span.thickness {
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 4px;
  background-color: #7c5034;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border-color: black;
}
/* line 109, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span.scontainer {
  margin-right: 6px;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
/* line 117, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span.scontainer.selected {
  border: 2px solid #7c5034;
  border-radius: 50%;
}
/* line 121, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span#thn {
  border: 12px solid #f9c782;
  width: 4px;
  height: 4px;
}
/* line 126, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span#md {
  border: 11px solid #f9c782;
  width: 6px;
  height: 6px;
}
/* line 131, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span#thk {
  border: 9px solid #f9c782;
  width: 10px;
  height: 10px;
}
/* line 136, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 8px;
  border-radius: 3px;
  width: 42%;
}
/* line 148, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column input {
  border-radius: 3px;
  width: 50px;
  background-color: #f1a663;
  border: none;
  color: #c25725;
  text-align: center;
  padding: 6px;
  padding-right: 0;
}
/* line 159, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column input#divide {
  border-radius: 3px 0px 0px 3px;
  margin-right: -2px;
}
/* line 164, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column input#spacing {
  margin-left: 4px;
}
/* line 167, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column button {
  cursor: pointer;
  border: none;
  padding: 6px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0px;
  background-color: #f1a663;
  color: #c25725;
}
/* line 179, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column button.selected {
  background-color: #07617f;
}
/* line 182, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column button#resetb {
  border-radius: 3px 0px 0px 3px;
}
/* line 185, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column button#saveb {
  border-radius: 0px 3px 3px 0px;
}
/* line 188, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column div.container {
  display: inline-block;
  margin: auto;
  width: 98%;
  text-align: left;
}
/* line 196, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column div.container button:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 4px;
}
/* line 204, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row:nth-child(3) div.column {
  width: 92%;
}
/* line 210, ../../sass/App.scss */
body div#main div#core div#paramWrapper {
  width: 20%;
  background-color: #133370;
  box-shadow: inset 5px -0.5px 5px 0px rgba(0, 0, 0, 0.6);
}
/* line 215, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  border-bottom: 5px dotted #3f5b8d;
}
/* line 222, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
/* line 227, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls span button {
  cursor: pointer;
  border: none;
  padding: 6px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0px;
  color: #133370;
  background-color: #8eb2b8;
}
/* line 240, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls span.title {
  width: 60%;
}
/* line 243, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls span.buttons {
  width: 30%;
}
/* line 247, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#logo {
  height: 12%;
  opacity: .6;
}
/* line 250, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#logo img {
  height: 100%;
}
/* line 254, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters {
  height: 76%;
  padding: 2%;
  overflow-y: hidden;
}
/* line 260, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters button {
  cursor: pointer;
  margin: 3px;
  border: none;
  padding: 10px;
  color: #133370;
  background-color: #8eb2b8;
}
/* line 270, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters button::-moz-focus-inner {
  border: 0;
}
/* line 273, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div {
  color: #ccd2db;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 25px;
}
/* line 286, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input {
  display: flex;
  text-align: center;
  margin: 0px auto 10px auto;
  height: 30px;
  width: 85%;
  padding: 5px 2.5%;
  color: #133370;
  background-color: #8eb2b8;
}
/* line 295, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span {
  display: inline-block;
  margin: auto;
  /*label:not(.fx){
  	border-left: 2px solid $color4; 
  }*/
}
/* line 298, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span label {
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
}
/* line 303, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span input {
  width: 0px;
  background-color: transparent;
  border: none;
  padding: 3.5px;
  padding-right: 1.5px;
  padding-left: 1.5px;
  color: #133370;
  text-align: center;
  display: none;
}
/* line 317, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span input.jscolor {
  visibility: visible;
  width: 22px;
  border-radius: 75%;
  border: 2px solid #133370;
  cursor: pointer;
}
/* line 324, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span label.y {
  border-left: none;
}
/* line 327, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span label.value {
  display: none;
}
/* line 333, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span label.selec:not(.fx) {
  border-left: 0;
}
/* line 336, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span label.xt, body div#main div#core div#paramWrapper div#parameters div span.input span label.yt {
  border-left: 0;
}
/* line 339, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span label.yt {
  display: none;
}
/* line 342, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span button {
  box-shadow: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #133370;
  padding: 3px;
  padding-right: 5px;
  margin: 2px;
}
/* line 352, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span button {
  outline: none;
}
/* line 355, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.input span button.delete {
  margin-left: 3px;
  padding: 3px;
  padding-right: 4px;
  margin-right: 0px;
  padding-top: 5px;
}
/* line 380, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.inputWrapper {
  display: flex;
  flex-direction: column;
  background-color: #58AAD2;
  padding: 10px 0px;
  border-radius: 5px;
  margin: 6px auto;
  margin-bottom: 5px;
  width: 100%;
}
/* line 390, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div span.inputWrapper span.input {
  margin: 4px auto;
}
/* line 403, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div input.selected.f, body div#main div#core div#paramWrapper div#parameters div input.selected.x, body div#main div#core div#paramWrapper div#parameters div input.selected.y, body div#main div#core div#paramWrapper div#parameters div input.selected.value {
  display: inline-block;
  width: 70px;
}
/* line 408, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div input.selected.jscolor {
  width: 35px;
}
/* line 411, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div input#function {
  width: 200px;
}
/* line 417, ../../sass/App.scss */
body div#main div#core div#canvasWrapper {
  width: 80%;
  position: relative;
  background-color: #1e1828;
}
/* line 428, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border-bottom: 5px dotted #4b4553;
}
/* line 435, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls span {
  width: 15%;
  display: inline-block;
  color: #c0bcc3;
}
/* line 439, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls span h4 {
  display: inline-block;
}
/* line 443, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls nav {
  display: flex;
  padding: 6px;
  margin: 4px;
  border-radius: 8px;
}
/* line 448, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls nav button {
  cursor: pointer;
  background-color: transparent;
  color: #c0bcc3;
  border: none;
}
/* line 456, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls nav button::-moz-focus-inner {
  border: 0;
}
/* line 461, ../../sass/App.scss */
body div#main div#core div#canvasWrapper div#canvas {
  height: 90%;
}
/* line 468, ../../sass/App.scss */
body div#main div#core div#canvasWrapper div#canvas canvas#graph {
  position: absolute;
  height: inherit;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: inherit;
  z-index: 1;
}
/* line 477, ../../sass/App.scss */
body div#main div#core div#canvasWrapper div#canvas canvas#toplayer {
  position: absolute;
  height: inherit;
  display: block;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
}
/* line 490, ../../sass/App.scss */
body footer {
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5% px;
  padding-left: 5% px;
  color: #ccd2db;
}
/* line 501, ../../sass/App.scss */
body footer a {
  color: #ccd2db;
  text-decoration: none;
}

@font-face {
  font-family: 'Mido';
  src: url("fonts/Mido.woff") format("woff");
}
