/* line 21, ../../sass/App.scss */
body {
  padding: 0;
  margin: 0;
  background-color: #ccd2db;
  color: #8eb2b8;
  font-family: "Mido";
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
/* line 31, ../../sass/App.scss */
body a {
  cursor: pointer;
}
/* line 34, ../../sass/App.scss */
body div#main {
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
}
/* line 40, ../../sass/App.scss */
body div#main div#core {
  display: flex;
  height: 100vh;
}
/* line 44, ../../sass/App.scss */
body div#main div#core div#settWrapper {
  display: flexbox;
  width: 30%;
  color: #f1a663;
  background-color: #c25725;
  overflow: hidden;
  text-align: left;
  box-shadow: inset 5px -0.5px 5px 0px rgba(0, 0, 0, 0.6);
}
/* line 54, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls {
  display: flex;
  width: 100%;
  height: 10%;
  width: 100%;
  border-bottom: 6px dotted #ce723f;
}
/* line 60, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
/* line 65, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls span button {
  cursor: pointer;
  border: none;
  padding: 6px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0px;
  background-color: #f1a663;
  color: #c25725;
}
/* line 78, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls span.title {
  width: 60%;
}
/* line 81, ../../sass/App.scss */
body div#main div#core div#settWrapper nav#centerControls span.buttons {
  width: 30%;
}
/* line 89, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row.curvename {
  display: flex;
  width: 100%;
}
/* line 92, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row.curvename label {
  color: #802c13;
  display: inline-block;
  margin: auto;
}
/* line 98, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row {
  display: flex;
  padding: 6px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
/* line 104, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row label {
  display: block;
  margin-bottom: 20px;
}
/* line 108, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span.thickness {
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 4px;
  background-color: #7c5034;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border-color: black;
}
/* line 118, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span.scontainer {
  margin-right: 6px;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
/* line 126, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span.scontainer.selected {
  border: 2px solid #7c5034;
  border-radius: 50%;
}
/* line 130, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span#thn {
  border: 12px solid #f9c782;
  width: 4px;
  height: 4px;
}
/* line 135, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span#md {
  border: 11px solid #f9c782;
  width: 6px;
  height: 6px;
}
/* line 140, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row span#thk {
  border: 9px solid #f9c782;
  width: 10px;
  height: 10px;
}
/* line 145, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 8px;
  border-radius: 3px;
  width: 42%;
}
/* line 157, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column input {
  border-radius: 3px;
  width: 50px;
  background-color: #f1a663;
  border: none;
  color: #c25725;
  text-align: center;
  padding: 6px;
  padding-right: 0;
}
/* line 168, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column input#divide {
  border-radius: 3px 0px 0px 3px;
  margin-right: -2px;
}
/* line 173, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column input#spacing {
  margin-left: 4px;
}
/* line 176, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column button {
  cursor: pointer;
  border: none;
  padding: 6px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0px;
  background-color: #f1a663;
  color: #c25725;
}
/* line 188, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column button.selected {
  background-color: #07617f;
}
/* line 191, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column button#resetb {
  border-radius: 3px 0px 0px 3px;
}
/* line 194, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column button#saveb {
  border-radius: 0px 3px 3px 0px;
}
/* line 197, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column div.container {
  display: inline-block;
  margin: auto;
  width: 98%;
  text-align: left;
}
/* line 205, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row div.column div.container button:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 4px;
}
/* line 213, ../../sass/App.scss */
body div#main div#core div#settWrapper div#fsettings div.row:nth-child(3) div.column {
  width: 92%;
}
/* line 219, ../../sass/App.scss */
body div#main div#core div#paramWrapper {
  width: 20%;
  background-color: #133370;
  box-shadow: inset 5px -0.5px 5px 0px rgba(0, 0, 0, 0.6);
}
/* line 224, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  border-bottom: 6px dotted #3f5b8d;
}
/* line 231, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
/* line 236, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls span button {
  cursor: pointer;
  border: none;
  padding: 6px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0px;
  color: #133370;
  background-color: #8eb2b8;
}
/* line 249, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls span.title {
  width: 60%;
}
/* line 252, ../../sass/App.scss */
body div#main div#core div#paramWrapper nav#rightControls span.buttons {
  width: 30%;
}
/* line 256, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#logo {
  height: 12%;
  opacity: .6;
}
/* line 259, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#logo img {
  height: 100%;
}
/* line 263, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters {
  height: 76%;
  overflow-y: hidden;
  display: flexbox;
  flex-direction: row;
  box-shadow: inset 0px -4px 6px -1px rgba(0, 0, 0, 0.4);
}
/* line 271, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters button {
  cursor: pointer;
  margin: 3px;
  border: none;
  padding: 10px;
  color: #133370;
  background-color: #8eb2b8;
}
/* line 281, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters button::-moz-focus-inner {
  border: 0;
}
/* line 284, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.buttons {
  padding: 3%;
  width: 94%;
  height: 10%;
}
/* line 289, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs {
  height: 84%;
  width: 84%;
  padding: 3% 8%;
  color: #ccd2db;
  overflow: hidden;
  white-space: nowrap;
}
/* line 304, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input {
  display: flex;
  text-align: center;
  margin: 10px auto;
  height: 30px;
  width: 85%;
  padding: 5px 2.5%;
  color: #133370;
  background-color: #8eb2b8;
}
/* line 313, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span {
  display: inline-block;
  margin: auto;
  /*label:not(.fx){
  	border-left: 2px solid $color4; 
  }*/
}
/* line 316, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span label {
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
}
/* line 321, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span input {
  width: 0px;
  background-color: transparent;
  border: none;
  padding: 3.5px;
  padding-right: 1.5px;
  padding-left: 1.5px;
  color: #133370;
  text-align: center;
  display: none;
}
/* line 335, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span input.jscolor {
  visibility: visible;
  width: 22px;
  border-radius: 75%;
  border: 2px solid #133370;
  cursor: pointer;
}
/* line 342, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span label.y {
  border-left: none;
}
/* line 345, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span label.value {
  display: none;
}
/* line 351, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span label.selec:not(.fx) {
  border-left: 0;
}
/* line 354, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span label.xt, body div#main div#core div#paramWrapper div#parameters div.inputs span.input span label.yt {
  border-left: 0;
}
/* line 357, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span label.yt {
  display: none;
}
/* line 360, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span button {
  box-shadow: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #133370;
  padding: 3px;
  padding-right: 5px;
  margin: 2px;
}
/* line 370, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span button {
  outline: none;
}
/* line 373, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.input span button.delete {
  margin-left: 3px;
  padding: 3px;
  padding-right: 4px;
  margin-right: 0px;
  padding-top: 5px;
}
/* line 398, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6px 0px;
  margin: 10px auto;
  border-radius: 4px;
  background-color: #3f5b8d;
}
/* line 406, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs span.inputWrapper span.input {
  margin: 4px auto;
}
/* line 419, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs input.selected.f, body div#main div#core div#paramWrapper div#parameters div.inputs input.selected.x, body div#main div#core div#paramWrapper div#parameters div.inputs input.selected.y, body div#main div#core div#paramWrapper div#parameters div.inputs input.selected.value {
  display: inline-block;
  width: 70px;
}
/* line 424, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs input.selected.jscolor {
  width: 35px;
}
/* line 427, ../../sass/App.scss */
body div#main div#core div#paramWrapper div#parameters div.inputs input#function {
  width: 200px;
}
/* line 433, ../../sass/App.scss */
body div#main div#core div#canvasWrapper {
  width: 80%;
  position: relative;
  background-color: #1e1828;
}
/* line 444, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border-bottom: 6px dotted #4b4553;
}
/* line 451, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls span {
  width: 15%;
  display: inline-block;
  color: #c0bcc3;
}
/* line 455, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls span h4 {
  display: inline-block;
  margin: 0px 10px;
}
/* line 459, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls span h4.count {
  margin-right: 6px;
  width: 25px;
}
/* line 463, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls span h4.seconds {
  margin-left: 0px;
}
/* line 467, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls nav {
  display: flex;
  padding: 6px;
  margin: 4px;
  border-radius: 8px;
}
/* line 472, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls nav button {
  cursor: pointer;
  background-color: transparent;
  color: #c0bcc3;
  border: none;
}
/* line 480, ../../sass/App.scss */
body div#main div#core div#canvasWrapper nav#leftControls nav button::-moz-focus-inner {
  border: 0;
}
/* line 485, ../../sass/App.scss */
body div#main div#core div#canvasWrapper div#canvas {
  height: 90%;
}
/* line 491, ../../sass/App.scss */
body div#main div#core div#canvasWrapper div#canvas canvas#graph {
  position: absolute;
  height: inherit;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  z-index: 1;
}
/* line 500, ../../sass/App.scss */
body div#main div#core div#canvasWrapper div#canvas canvas#toplayer {
  position: absolute;
  height: inherit;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  z-index: 2;
}
/* line 513, ../../sass/App.scss */
body footer {
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5% px;
  padding-left: 5% px;
  color: #ccd2db;
}
/* line 524, ../../sass/App.scss */
body footer a {
  color: #ccd2db;
  text-decoration: none;
}

@font-face {
  font-family: 'Mido';
  src: url("fonts/Mido.woff") format("woff");
}
